<div id="myCarousel" class="carousel slide mt-4 col-lg-9 mx-auto" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img width="100%" height="600" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Uniqueness_of_Fauna.jpg/1016px-Uniqueness_of_Fauna.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1 class="text-light">Find your next best friend</h1>
                    <p class="text-light">Be happy. Save a dog!</p>
                    <p><a class="btn btn-lg btn-dark" routerLink='dogsearch-page'>Search for a dog</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img width="100%" height="600" src="https://upload.wikimedia.org/wikipedia/commons/8/87/Cute_Goldendoodle_Puppy.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

            <div class="container">
                <div class="carousel-caption">
                    <h1>There are shelters in your city!</h1>
                    <p>Shelters everywhere are waiting for you to come in and rescue a puppy</p>
                    <p><a class="btn btn-lg btn-primary" routerLink="sheltersearch-page">Search for a shelter</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img width="100%" height="600" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Cute_Family.jpg/1024px-Cute_Family.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1 class="text-dark">Fill out an adoption profile!</h1>
                    <p class="text-dark">We do the hard work for you! Send your adoption profile to a shelter with a click! Or print it out and bring it with you!</p>
                    <p><a class="btn btn-lg btn-dark" routerLink="profile-page">Fill out a profile</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-3 card text-white bg-secondary m-5">
            <img class=" rounded-circle" width="140" height="140" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Dog_toilet_sign.svg/768px-Dog_toilet_sign.svg.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

            <h2>Housetrained?!</h2>
            <p>We let you know if your next dog has any special needs. If you don't have the patience for house training, we'll let you know!</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-3 card text-white bg-secondary m-5">
            <img class=" rounded-circle" width="140" height="140" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Missing_dog_photo.svg/874px-Missing_dog_photo.svg.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice"
                focusable="false">

            <h2>We make it easy!</h2>
            <p>Search by location or breed, so you can find your next best friend nearest you.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-3 card text-white bg-secondary m-5">
            <img class=" rounded-circle" width="140" height="140" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Emojione_1F415.svg/768px-Emojione_1F415.svg.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

            <h2>Recommendations!</h2>
            <p>After you fill out a profile, we'll show you dogs that match your situation! Got kids, we'll recommend dogs that are great with them!</p>
        </div>
        <!-- /.col-lg-4 -->
    </div>

    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">What are you waiting for?</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">There are thousands of dogs waiting for their new home. Fill out a profile. Find a dog. Save a life. Be happy.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" routerLink="dogsearch-page">Find A Dog</button>
                    <button type="button" class="btn btn-outline-light btn-lg px-4" routerLink="topic-page">Join The Community</button>
                </div>
            </div>
        </div>
    </div>